.main-header {
  background-color: var(--bg);
  border-bottom: 2px solid var(--border);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo h1 {
  color: var(--accent);
  margin: 0;
  font-size: 1.8rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
}

.nav-button {
  text-decoration: none;
  color: var(--bg);
  background-color: var(--accent);
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-button:hover {
  background-color: var(--bg);
  color: var(--accent);
  border-color: var(--accent);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.main-content {
  flex: 1; /* Empuja el footer hacia abajo */
  padding: 2rem;
  min-height: 70vh;
}

.main-footer {
  background-color: var(--code-bg);
  color: var(--bg);
  text-align: center;
  padding: 2rem;
  margin-top: auto;
}

.footer-links a {
  color: var(--info);
  margin: 0 10px;
  text-decoration: none;
  font-size: 0.9rem;
}