:root {
  --bg: #062D42;
  --border: #09496C;
  --code-bg: #021017;
  --text: #BDE4F9;
  --text-h: #E8F5FD;
  --accent: #69C2F2;
  --accent-bg: rgba(105, 194, 242, 0.1);
  --accent-border: rgba(105, 194, 242, 0.5);

  --success: #8AF5E5;
  --info: #8AD0F5;
  --secondary: #8A9AF5;
  --warning: #F5E58A;
  --danger: #F58A9A;
  --orange: #F5AF8A;

  --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

  /* --- TIPOGRAFÍAS Y BASE --- */
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* --- ESTILOS DE ESTRUCTURA --- */

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--accent);
  text-align: center;
  margin-bottom: 32px;
}

h1 {
  font-size: 3rem;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 2rem;
    margin: 20px 0;
  }
}
h2 {
  font-size: 2rem;
  line-height: 118%;
  letter-spacing: -0.24px;
  @media (max-width: 1024px) {
    font-size: 1.5rem;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

/* --- Estilos del Catálogo --- */

.catalog-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* La Grilla de Productos */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  justify-items: center;
}

@media (max-width: 768px) {
  .product-grid {
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}